button{
  width: 120px;
  height: 120px;
  background-color: rgb(255, 45, 150);
  border-radius: 10px;
  line-height: 120px;
  font-size:  120px;
  border-left: 0;
  border-top: 0;
  margin: 2px;
  vertical-align: top;
}
body{
    background-color: pink;
    text-align: center;
}
h1{
    color: rgb(10, 8, 10);
    font-size: xx-large;
    size: 200px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex; 
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
}

button:disabled{
    border-color: black;
    background-color: rgb(255, 45, 150);
    color: white;
}